<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MEMBRIII! Super-Mega-Cryptii-Tool</title>

    <!-- Style -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500%7CSource+Code+Pro:400&amp;subset=latin-ext">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style/cryptii.css' %}">

    <!-- Script -->
    {% load static %}
    <script async src=" {% static 'script/cryptii.js' %} " data-cryptii-init></script>
    <!--
    <script type="application/json" data-cryptii-config>
      {
        "serviceEndpoint": "https://cryptii.com/api"
      }
    </script> -->
    <script type="application/vnd.cryptii.pipe+json" data-cryptii-pipe>
      {
        "items": [
          {
            "name": "text",
            "alias": "Plaintext"
          },
          {
            "name": "text",
            "alias": "Ciphertext"
          }
        ],
        "content": {
          "data": "Il nostro Capitano è Andrea Minieri"
        }
      }
    </script>

  </head>
  <body>

    <div class="app">

      <header class="app__header header">
        <div class="header__inner">
          <div class="header__item">
            <a class="header__brand" href="index.html">MEMBRIII!</a>
          </div>
          <div class="header__item">
            <span class="header__badge">local</span>
          </div>
        </div>
      </header>

      <article class="app__pipe pipe">
        <header class="pipe__header">
         
        </header>
        <div class="pipe__scrollable"></div>
      </article>

      <footer class="app__footer footer">
        <div class="container">
          <div class="footer__inner">
            <h2 class="footer__brand"><a href="https://cryptii.com">Cryptii</a></h2>
            <p class="footer__description">
              Web app that encodes, decodes, encrypts, decrypts, converts, translates, simulates and
              views content online offering a variety of ciphers, formats, algorithms and methods.
              Designed and built with love by <a href="https://fraenz.frieder.es/" target="_blank" rel="noopener">@ffraenz</a>.
              Code licensed <a href="https://github.com/cryptii/cryptii/blob/dev/LICENSE.md" target="_blank" rel="noopener">MIT</a>.
            </p>
            <ul class="footer__link-list link-list">
              <li class="link-list__item">
                <a class="link-list__link" href="https://cryptii.com">
                  Live version
                </a>
              </li>
              <li class="link-list__item">
                <a class="link-list__link" href="https://github.com/cryptii/cryptii" target="_blank" rel="noopener">
                  GitHub
                </a>
              </li>
              <li class="link-list__item">
                <a class="link-list__link" href="https://github.com/cryptii/cryptii/issues/new" target="_blank" rel="noopener">
                  Report an issue
                </a>
              </li>
            </ul>
          </div>
        </div>
      </footer>

    </div>

  </body>
</html>
