<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MEMBRIII! Super-Mega-Cryptii-Tool</title>

    <!-- Style -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500%7CSource+Code+Pro:400&amp;subset=latin-ext">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style/cryptii.css' %}">

    <!-- Script -->
    {% load static %}
    <script async src=" {% static 'script/cryptii.js' %} " data-cryptii-init></script>
    <!--
    <script type="application/json" data-cryptii-config>
      {
        "serviceEndpoint": "https://cryptii.com/api"
      }
    </script> -->
    <script type="application/vnd.cryptii.pipe+json" data-cryptii-pipe>
      {
        "items": [
          {
            "name": "text",
            "alias": "Plaintext"
          },
          {
            "name": "text",
            "alias": "Ciphertext"
          }
        ],
        "content": {
          "data": "Il nostro Capitano è Andrea Minieri"
        }
      }
    </script>

  </head>
  <body>

    <div class="app">

      <header class="app__header header">
        <div class="header__inner">
          <div class="header__item">
            <a class="header__brand" href="index.html">MEMBRIII!</a>
          </div>
          <div class="header__item">
            <span class="header__badge">local</span>
          </div>
        </div>
      </header>

      <article class="app__pipe pipe">
        <header class="pipe__header">
         
        </header>
        <div class="pipe__scrollable"></div>
      </article>


    </div>

  </body>
</html>
