
$c-white: #ffffff;
$c-black: #000000;
$c-red: #ff0000;
$c-blue: #00b1d1;

$c-primary: $c-red;
$c-interactive: $c-red;

$c-background: $c-black;
$c-background-shaded: #e3e7ec;

$c-line: #e3e8ec;
$c-line-error: $c-red;

$c-text: $c-black;
$c-text-detail: #575757;
$c-text-primary: $c-red;
$c-text-error: $c-red;

$c-footer-text: #8898aa;

$c-field-control-background: #e3e7ec;
$c-field-label: $c-black; //$c-text-detail;

$c-pipe: $c-primary;
$c-pipe-background: $c-black;

$c-viewer: $c-primary;
$c-encoder: #ff9900;
